<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/assets/svg/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./assets/css/utils.css" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link rel="stylesheet" href="./assets/css/responsive.css" />
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>Get US Investment — Form</title>
</head>
<body>
    <div class="form">
        <div class="form-header-hidden"></div>
        <div class="form-header">
            <h2 class="form-title">Get US Investment — Form</h2>
            <p>
                KM Advocates & Associates a Ugandan Investment Law firm working with the Uganda Investment Authority and the US National Black Chamber of Commerce in Atlanta Georgia is organising a business matching mission that will facilitate US black businesses interested in investing in Uganda's different sectors to easily identify local partners or firms they can invest through.
            </p>
            <p>
                The business matching shall happen in the wake of Uganda for US Black businesses an event that on the 17th and 18th day of October,  2023 will show case to more than 1,000 US black businesses the different investment opportunities in Uganda.
            </p>
            <p>
                Only local Corporations that are compliant with URSB, URA , in possession of all the required business permits or licences and in possession of books of Accounts shall participate in the business matching.
            </p>
            <p>
                Interested and legible local Companies can fill this online form in order to participate in the business matching event.
            </p>
        </div>
        <div class="form-body" style="background-color:#d2d2d2;opacity: 1;">
            <div class="container">
                <div class="accordion">
                  <div class="img">
                    <img src="./assets/svg/group.png" alt="" />
                  </div>
                  <div class="title flex">
                    <h3>Who We Are</h3>
                    <span><i class="ti-angle-up"></i></span>
                  </div>
                  <div class="content hide">
                    <ol>
                      <li>
                        <a href="/about"><h4>About platform</h4></a>
                      </li>
                      <li>
                        <a href="/about"><h4>Services offered</h4></a>
                      </li>
                    </ol>
                  </div>
                </div>
                <div class="accordion">
                  <div class="img">
                    <img src="./assets/svg/information-button.png" alt="" />
                  </div>
                  <div class="title flex">
                    <h3>Target Audience</h3>
                    <span><i class="ti-angle-up"></i></span>
                  </div>
                  <div class="content hide">
                    <ol>
                      <li>
                        <a href="/audience"><h4>Informal or/and MSMEs in the rural setting</h4></a>
                      </li>
                      <li>
                        <a href="/audience"><h4>The Ugandan Diaspora</h4></a>
                      </li>
                      <li>
                        <a href="/audience"><h4>The foreign Community in Uganda</h4></a>
                      </li>
                    </ol>
                  </div>
                </div>
                <div class="accordion">
                  <div class="img">
                    <img src="./assets/svg/questions.png" alt="" />
                  </div>
                  <div class="title flex">
                    <h3>How Platform Works</h3>
                    <span><i class="ti-angle-up"></i></span>
                  </div>
                  <div class="content hide">
                    <ol>
                      <li>
                        <a href="/platform"><h4>Platform values</h4></a>
                      </li>
                      <li>
                        <a href="/platform"><h4>How to use the platform</h4></a>
                      </li>
                    </ol>
                  </div>
                </div>
                <div class="accordion">
                  <div class="img">
                    <img src="./assets/svg/information-button.png" alt="" />
                  </div>
                  <div class="title flex">
                    <h3>Team</h3>
                    <span><i class="ti-angle-up"></i></span>
                  </div>
                  <div class="content hide">
                    <ol>
                      <li>
                        <a href="/team"><h4>View Team</h4></a>
                      </li>
                    </ol>
                  </div>
                </div>
                <div class="accordion">
                  <div class="img">
                    <img src="./assets/svg/mail.png" alt="" />
                  </div>
                  <div class="title flex">
                    <h3>Contact</h3>
                    <span><i class="ti-angle-up"></i></span>
                  </div>
                  <div class="content hide">
                    <div class="cs-contacts">
                      <div class="contact-address">
                        <div class="physical-address">
                          <h5 style="font-weight:bold;">Rizyk Limited,</h5>
                          <h5>Hotel Equatorial, Plot 37/39 Bombo Road,</h5>
                          <h5>Level 3, Suite 356,</h5>
                          <h5>P.O. Box 73618 Clock Tower, Kampala,</h5>
                          <h5>Clock Tower,</h5>
                        </div>
                        <div class="virtual-address">
                          <div class="phone-number flex">
                            <img src="./assets/img/call.png" alt="Phone" />
                            <span>Phone: +256 393 247 125</span>
                          </div>
                          <div class="whatsapp-number flex">
                            <img src="./assets/img/whatsapp.png" alt="WhatsApp" />
                            <span>WhatsApp: +256 784 581 837</span>
                          </div>
                          <div class="whatsapp-number flex">
                            <img src="./assets/svg/mail.png" alt="WhatsApp" />
                            <span>E-mail: info@rizyk.com</span>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
        </div>
        <div class="form-footer">
            <h4 class="form-footer-title"></h4>
        </div>
    </div>
    <script src="./assets/js/main.js"></script>

    <script>
        let collapsibleHeaders = document.getElementsByClassName("collapsible-header");
        let collapsibleSubHeaders = document.getElementsByClassName("collapsible-sub-header");

        Array.from(collapsibleHeaders).forEach((header) => {
            let isClicked = false;
            header.addEventListener("click", () => {
            if (!isClicked) {
                isClicked = true;
                header.parentElement.classList.toggle("collapsible-open");
                document.querySelector(".collapsible-header.last").style.borderBottomLeftRadius = "0";
                document.querySelector(".collapsible-header.last").style.borderBottomRightRadius = "0";
            } else {
                isClicked = false;
                header.parentElement.classList.toggle("collapsible-open");
                document.querySelector(".collapsible-header.last").style.borderBottomLeftRadius = "13px";
                document.querySelector(".collapsible-header.last").style.borderBottomRightRadius = "13px";
            }
            });
        });

        Array.from(collapsibleSubHeaders).forEach((subHeader) => {
            subHeader.nextElementSibling.classList.toggle("hide");
            subHeader.addEventListener("click", () => {
            subHeader.nextElementSibling.classList.toggle("hide");
            });
        });
    </script>
</body>
</html>