<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/svg/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./assets/icons/themify-icons.css" />
    <link rel="stylesheet" href="./assets/css/utils.css" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link rel="stylesheet" href="./assets/css/responsive.css" />
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>Uganda for US Black Businesses — Info</title>
</head>
<body class="info">
    <div class="form">
        <div class="form-header-hidden info"></div>
        <div class="form-header">
            <h2 class="form-title">Uganda for US Black Businesses</h2>
            <p>
              17th and 18th of October, 2023
            </p>
        </div>
        <div class="form-body" style="background-color:#d2d2d2;opacity: 1;">
            <div class="accordions">
                <div class="accordion">
                  <div class="img">
                    <img src="./assets/svg/group.png" alt="" />
                  </div>
                  <div class="title flex">
                    <h3>About the event</h3>
                    <span><i class="ti-angle-up"></i></span>
                  </div>
                  <div class="content hide">
                    <div class="wrapper">
                        <h3>Event</h3>
                        <p>
                            Uganda for US Black businesses is a virtual business summit that shall on the 17th and 18th of October, 2023 show case Uganda’s top lucrative investment or business opportunities to US Black businesses.  Black businesses that will decide to invest in Uganda will invest through local corporations or firms already identified on the criterion of profitability and legal compliance.
                        </p>
                        <p>
                            The summit shall be concluded with a networking occasion between US black businesses and the Uganda local businesses and eventually deal making (business match making) between US Black businesses and Uganda local businesses. KM Advocates & Associates attorneys shall facilitate or handle all the legal modalities involved in the deal making.
                        </p>
                        <h3>Sectors to be highlighted</h3>
                        <ul>
                            <li>Tourism</li>
                            <li>Oil</li>
                            <li>Minerals/Mining</li>
                            <li>Infrastructural Development</li>
                            <li>Real Estate</li>
                            <li>Telecom</li>
                            <li>Commercial Agriculture</li>
                            <li>Health</li>
                            <li>Education</li>
                            <li>Clean Energy</li>
                            <li>Manufacturing</li>
                            <li>IT</li>
                        </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion">
                  <div class="img">
                    <img src="./assets/svg/information-button.png" alt="" />
                  </div>
                  <div class="title flex">
                    <h3>Event Program</h3>
                    <span><i class="ti-angle-up"></i></span>
                  </div>
                  <div class="content hide">
                    <div class="wrapper">
                      <h3>Day 1</h3>
                      <ul>
                          <li>(i) Opening Remarks from the Prime Minster of Uganda</li>
                          <li>(ii) Opening Remarks from the  US Embassy in Kampala</li>
                          <li>(iii) Uganda Investment Authority to high light Uganda’s investment terrain</li>
                          <li>(iv) Uganda Investment Authority and the respective business sector regulator and umbrella Organization shall highlight opportunities in the respective business sector</li>
                          <li>(v) The Uganda Investment Authority shall highlight Government concessions to black businesses that make decision to invest in Uganda</li>
                          <li>(vi) The Uganda Investment Authority shall highlight the Country’s profit repatriation design</li>
                          <li>(vii) The Uganda Revenue Authority (Country’s tax body) shall highlight to Black businesses the different business tax regimes in the Country</li>
                          <li>(viii) Head and Justice of the Uganda Commercial Court Shall high light to Black business the existing business dispute settlement mechanism in Uganda</li>
                      </ul>
                      <h3>Day 2</h3>
                      <h4>Round table discussions</h4>
                      <p>
                          Eminent business owner and regulator in the respective business sector shall discuss Strengths, Weaknesses, Opportunities, and threats in the respective business sector.
                      </p>
                      <h4>Net working and Deal making</h4>
                      <p>
                          The event shall be concluded with a networking session between US Black businesses and Uganda local Companies and eventual deal making between US Black businesses and Ugandan local corporations.
                      </p>
                      <p>
                          KM Advocates & Associates shall facilitate or handle all the legal details involved in the deal making; drafting and attestation of documents involved in the process, handle all legal compliance issues involved in the process and provision of advisory on a wide range of issues involved in the process.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion">
                  <div class="img">
                    <img src="./assets/svg/questions.png" alt="" />
                  </div>
                  <div class="title flex">
                    <h3>Objective of the event</h3>
                    <span><i class="ti-angle-up"></i></span>
                  </div>
                  <div class="content hide">
                    <div class="wrapper">
                      <p>
                        The Objective of the event is to have more than 100 US Black businesses invest in Uganda’s different lucrative sectors through local firms.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion">
                  <div class="img">
                    <img src="./assets/svg/information-button.png" alt="" />
                  </div>
                  <div class="title flex">
                    <h3>Event Organizers</h3>
                    <span><i class="ti-angle-up"></i></span>
                  </div>
                  <div class="content hide">
                    <div class="wrapper">
                      <p>
                        Uganda for US Black businesses event is organized by KM Advocates & Associates a Ugandan investment Law firm engaged in the facilitation of foreign corporations to establish in Uganda with a lot of ease and to successfully carry out business in Uganda.
                      </p>
                      <p>
                        The event is organized by KM Advocates & Associates in partnership with the Government of Uganda and the Black National Chamber of Commerce, and supported by the US Embassy in Kampala and the United States Department of Commerce.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion">
                    <div class="img">
                      <img src="./assets/svg/information-button.png" alt="" />
                    </div>
                    <div class="title flex">
                      <h3>How to participate</h3>
                      <span><i class="ti-angle-up"></i></span>
                    </div>
                    <div class="content hide">
                      <div class="wrapper">
                        <h4>Register for event.</h4>
                        <form enctype="multipart/form-data" style="padding-inline:0;">
                          <div class="form-control">
                              <label for="name">1. Name of business </label>
                              <input type="text" id="business_name" name="businessName" required>
                          </div>
          
                          <div class="form-control">
                              <label for="name">2. Nature of Business/Business Sector </label>
                              <input type="text" id="business_nature" name="businessNature">
                          </div>
          
                          <div class="form-control">
                              <label for="name">3. Name of contact person </label>
                              <input type="text" id="contact_person" name="contactPerson" required>
                          </div>
          
                          <div class="form-control">
                              <label for="name">4. Website  </label>
                              <textarea id="website" name="website" cols="30" rows="3" required></textarea>
                          </div>
          
                          <div class="form-control">
                              <label for="name">5. Email </label>
                              <input style="margin-block: 3px;" type="text" id="email" name="email" required>
                          </div>                
          
                          <div class="form-control">
                              <label for="name">6. Phone Number </label>
                              <input type="text" id="phone_number" name="phoneNumber" required>
                          </div>
          
                          <div class="form-control">
                              <button type="submit">Pay $200</button>
                          </div>
                      </form>
                      </div>
                    </div>
                </div>
                <div class="accordion">
                    <div class="img">
                      <img src="./assets/svg/information-button.png" alt="" />
                    </div>
                    <div class="title flex">
                      <h3>How to sponsor</h3>
                      <span><i class="ti-angle-up"></i></span>
                    </div>
                    <div class="content hide">
                      <div class="wrapper">
                        <p>
                          To sponsor..
                        </p>
                      </div>
                    </div>
                </div>
              </div>
        </div>
        <div class="form-footer">
            <h4 class="form-footer-title"></h4>
        </div>
    </div>
    <script src="./assets/js/main.js"></script>

    <script>
        let collapsibleHeaders = document.getElementsByClassName("collapsible-header");
        let collapsibleSubHeaders = document.getElementsByClassName("collapsible-sub-header");

        Array.from(collapsibleHeaders).forEach((header) => {
            let isClicked = false;
            header.addEventListener("click", () => {
            if (!isClicked) {
                isClicked = true;
                header.parentElement.classList.toggle("collapsible-open");
                document.querySelector(".collapsible-header.last").style.borderBottomLeftRadius = "0";
                document.querySelector(".collapsible-header.last").style.borderBottomRightRadius = "0";
            } else {
                isClicked = false;
                header.parentElement.classList.toggle("collapsible-open");
                document.querySelector(".collapsible-header.last").style.borderBottomLeftRadius = "13px";
                document.querySelector(".collapsible-header.last").style.borderBottomRightRadius = "13px";
            }
            });
        });

        Array.from(collapsibleSubHeaders).forEach((subHeader) => {
            subHeader.nextElementSibling.classList.toggle("hide");
            subHeader.addEventListener("click", () => {
            subHeader.nextElementSibling.classList.toggle("hide");
            });
        });
    </script>
</body>
</html>