<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="./assets/svg/favicon.ico" type="image/x-icon" />
    <link rel="stylesheet" href="./assets/icons/themify-icons.css" />
    <link rel="stylesheet" href="./assets/css/utils.css" />
    <link rel="stylesheet" href="./assets/css/main.css" />
    <link rel="stylesheet" href="./assets/css/responsive.css" />
    <link rel="stylesheet" href="/assets/css/styles.css">
    <title>Uganda for US Black Businesses — Info</title>
</head>
<body class="info">
    <div class="form">
        <div class="form-header-hidden info"></div>
        <div class="form-header">
            <h2 class="form-title">Uganda for US Black Businesses</h2>
            <p>
              Date: 17th and 18th of October, 2023
            </p>
            <div id="countdown" class="countdown">10d : 22h : 19m : 52s</div>
        </div>
        <div class="form-body" style="background-color:#d2d2d2;opacity: 1;">
            <div class="accordions">
                <div class="accordion">
                  <div class="img">
                    <img src="./assets/svg/group.png" alt="" />
                  </div>
                  <div class="title flex">
                    <h3>About the event</h3>
                    <span><i class="ti-angle-up"></i></span>
                  </div>
                  <div class="content hide">
                    <div class="wrapper">
                        <h3>Event</h3>
                        <p>
                            Uganda for US Black businesses is a virtual business summit that shall on the 17th and 18th of October, 2023 show case Uganda’s top lucrative investment or business opportunities to US Black businesses.  Black businesses that will decide to invest in Uganda will invest through local corporations or firms already identified on the criterion of profitability and legal compliance.
                        </p>
                        <p>
                            The summit shall be concluded with a networking session between US black businesses and Uganda local businesses and eventually deal making (business match making) between US Black businesses and Uganda local businesses. KM Advocates & Associates attorneys shall facilitate the session or/and handle all the legal modalities involved in the deal making.
                        </p>
                        <h3>Sectors to be highlighted</h3>
                        <ul>
                            <li>Tourism</li>
                            <li>Oil</li>
                            <li>Minerals/Mining</li>
                            <li>Banking & Financing</li>
                            <li>Infrastructural Development</li>
                            <li>Real Estate</li>
                            <li>Telecom</li>
                            <li>Commercial Agriculture</li>
                            <li>Health</li>
                            <li>Education</li>
                            <li>Clean Energy</li>
                            <li>Manufacturing</li>
                            <li>IT</li>
                        </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion">
                  <div class="img">
                    <img src="./assets/svg/questions.png" alt="" />
                  </div>
                  <div class="title flex">
                    <h3>Objective of event</h3>
                    <span><i class="ti-angle-up"></i></span>
                  </div>
                  <div class="content hide">
                    <div class="wrapper">
                      <p>
                        The Objective of the event is to facilitate more than 100 US Black businesses to successfully invest in Uganda with a lot of ease.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion">
                  <div class="img">
                    <img src="./assets/svg/questions.png" alt="" />
                  </div>
                  <div class="title flex">
                    <h3>Why invest in Uganda</h3>
                    <span><i class="ti-angle-up"></i></span>
                  </div>
                  <div class="content hide">
                    <div class="wrapper">
                      <p>
                        1. Uganda like many other African Countries has one of the highest returns on investment in the World.
                      </p>
                      <p>
                        Return on investment in Uganda is 5.3 % as opposed to 2.3 % in the US. 
                        The 5.3 % return on Investment in Uganda is expected to skyrocket to 7 % in the near future due to the massive investment in critical infrastructure.
                      </p>
                      <p>
                        2. Uganda is the fastest growing economy in the East African Community with a GDP of over $ 40.43 Billion (WB, 2021). GDP forecast for 2023, 6.2 % (Fisher, Q2 2023)
                      </p>
                      <p>
                        3. Uganda’s stable and consistent Macroeconomic policies, proximity as a logistics hub within the Great Lakes region and increased regional trade have contributed to a consistent increase in FDI inflows despite Covid – 19 Pandemic. For example from  $ 807 Million in 2019, $ 927.10 Million in 2020 to $ 1.14 Billion in 2021
                      </p>
                      <p style="margin-block-end: 0;">
                        4. The Country’s Economy is very liberalized.
                      </p>
                      <ul style="margin: 0 0 0 4px;">
                        <li style="padding:0;margin:0;">(a) All sectors are open for investment to the private sector.</li>
                        <li style="padding:0;margin:0;">(b) Security of Person and Property is guaranteed</li>
                        <li style="padding:0;margin:0;">(c) Foreign Companies are allowed to have 100 % ownership in Projects.</li>
                      </ul>
                      <p>
                        5. The Country’s Progressive Investment Code makes Uganda one of the most open Countries to private foreign investment.
                      </p>
                      <p>
                        6. Low cost of production;
                      </p>
                      <p>
                        For example Uganda has the lowest labor Cost in the East African Community region; the Average yearly wage for unskilled production operative is $ 440.
                      </p>
                      <p style="margin-block-end: 0;">
                        7. Ugandan goods and services have a large domestic, regional and Global Markets (Quota and Tariffs free);
                      </p>
                      <ul style="margin: 0 0 0 4px;">
                        <li style="padding:0;margin:0;">(a) East African Community – 300 Million People</li>
                        <li style="padding:0;margin:0;">(b) COMESA – 600 Million People</li>
                        <li style="padding:0;margin:0;">(c) AFCTA – 1.3 Billion People, in 55 Countries with a Combined GDP of $ 3.5 Trillion</li>
                        <li style="padding:0;margin:0;">(d) EU EBA (Everything Except Arms)</li>
                        <li style="padding:0;margin:0;">(e) AGOA – 6,000 Products</li>
                      </ul>
                      <p>
                        8. Uganda is the Number 1, Regional leader in Capital Markets growth (Absa Africa, Financial Markets Index 2022)
                      </p>
                      <p>
                        9. Uganda is the Second most bio diverse Country in Africa 202 (UBF). Green Investment and Carbon offset potential.
                      </p>
                      <p>
                        10. Best Tourist Destination in the World (CNN, 2023)
                      </p>
                      <p>
                        11. Best Tourist Destination in the whole world (CNN, 2023)
                      </p>
                      <p>
                        12. Most of the Country’s lucrative sectors like tourism are under tapped due to lack of access to cheap financing and skilled work force.
                      </p>
                      <p>
                        13. Country’s Pan Africanism is currently focused on prioritizing the economic empowerment of Africans and the African diaspora.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion">
                  <div class="img">
                    <img src="./assets/svg/information-button.png" alt="" />
                  </div>
                  <div class="title flex">
                    <h3>Event Program</h3>
                    <span><i class="ti-angle-up"></i></span>
                  </div>
                  <div class="content hide">
                    <div class="wrapper">
                      <h3>Day 1</h3>
                      <ul>
                          <li>(i) Opening Remarks from the Prime Minster of Uganda</li>
                          <li>(ii) Opening Remarks from the  US Embassy in Kampala</li>
                          <li>(iii) Uganda Investment Authority to highlight Uganda’s investment terrain</li>
                          <li>(iv) Uganda Investment Authority and the respective business sector regulator and umbrella Organization to highlight opportunities in the respective business sector</li>
                          <li>(v) The Uganda Investment Authority shall highlight Government concessions to black businesses that make decision to invest in Uganda</li>
                          <li>(vi) The Uganda Investment Authority shall highlight the Country’s profit repatriation design</li>
                          <li>(vii) The Uganda Revenue Authority (Country’s tax body) shall highlight to Black businesses the different business tax regimes in the Country</li>
                          <li>(viii) Head and Justice of the Uganda Commercial Court Shall high light to Black business the existing business dispute settlement mechanism in Uganda</li>
                          <li>(ix) KM Advocates & Associates to highlight all the Compliance requirements for foreign Companies doing business in Uganda<li>
                        </ul>
                      <h3>Day 2</h3>
                      <h4>Round table discussions</h4>
                      <p>
                          Eminent business owner and regulator in the respective business sector shall discuss Strengths, Weaknesses, Opportunities, and threats in the respective business sector.
                      </p>
                      <h4>Net working and Deal making</h4>
                      <p>
                          The event shall be concluded with a networking session between US Black businesses and Uganda local Companies and eventual deal making between US Black businesses and Ugandan local corporations.
                      </p>
                      <p>
                          KM Advocates & Associates shall facilitate or handle all the legal details involved in the deal making; legal advisory on a wide range of issues involved in the process (mainly compliance concerns), and structuring business deals/relationships/transactions among others.
                      </p>
                    </div>
                  </div>
                </div>
                <div class="accordion">
                  <div class="img">
                    <img src="./assets/svg/information-button.png" alt="" />
                  </div>
                  <div class="title flex">
                    <h3>Deal Making</h3>
                    <span><i class="ti-angle-up"></i></span>
                  </div>
                  <div class="content hide">
                    <div class="wrapper">
                      <p>
                        Upon registering for the event, the US Minority business shall be availed with a roaster containing Ugandan local businesses intent on receiving investment from US Minority businesses and from which the US minority business that will make decision to invest in Uganda will identify and select a local company to invest through or work with.
                      </p>
                      <p>
                        The admission of the local Companies to the roaster was based on profitability or potential profitability, compliance with regulatory regimes or willingness to comply with the relevant regulatory regimes in the event of engagement by the US Minority business, possession of books of accounts or willingness to make books of account upon engagement by US Minority businesses.
                      </p>
                      <p>
                        However upon identification of the local Corporation to work with, the US Minority business will carry out due diligences to double check local Corporation’s regulatory compliance and transparency of its books of account.
                      </p>
                      <p>
                        KM Advocates & Associates a Ugandan Investment Law firm engaged in the practice of assisting foreign Corporations to invest in Uganda with a lot of ease shall facilitate the deal making between the US Minority Business and Local Corporation it has identified to invest through. KM Advocates & Associates shall at fee provide the US Minority Business with all the critical services or /and interventions pertinent to enabling the US Minority Business to successfully invest in Uganda through the local Corporation it has selected;
                      </p>
                      <ul>
                        <li>(i) Providing Consultation on any aspect involved in the deal making</li>
                        <li>(ii) Carry out Due diligence on local Corporation’s regulatory compliance and books of accounts</li>
                        <li>(iii) Structuring deal or devising the most appropriate working relationship between the US Minority business and Local business it has selected to invest through.</li>
                        <li>(iv) Drafting documents involved in the process; MOUs, Operational Agreements, Partnerships deeds, Special Purpose vehicles, Company documents among others.</li>
                        <li>(v) Secure the necessary Government approvals or regulatory compliances</li>
                        <li>(vi) Facilitation of payment of any official fees involved in the processes</li>
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="accordion">
                  <div class="img">
                    <img src="./assets/svg/information-button.png" alt="" />
                  </div>
                  <div class="title flex">
                    <h3>Event Organizers</h3>
                    <span><i class="ti-angle-up"></i></span>
                  </div>
                  <div class="content hide">
                    <div class="wrapper">
                      <div class="flex org">
                        <img src="./assets/org/ebd80d81fa69c6fdc39af2856e270e9f_400x400.jpeg" alt="">
                        <img src="./assets/org/amcham_uganda_logo-min.png" alt="">
                        <img src="./assets/org/national-black-chamber-of-commerce-1024x512-20190522.jpg" alt="">
                        <img src="./assets/org/images.png" alt="">
                        <img src="./assets/org/1603388373-79-office-of-the-president.jpg" alt="">
                        <img src="./assets/org/seal.jpg" alt="">
                        <img src="./assets/org/download.jpeg" alt="">
                      </div>
                    </div>
                  </div>
                </div>
                <div class="accordion">
                    <div class="img">
                      <img src="./assets/svg/information-button.png" alt="" />
                    </div>
                    <div class="title flex">
                      <h3>How to participate</h3>
                      <span><i class="ti-angle-up"></i></span>
                    </div>
                    <div class="content hide">
                      <div class="wrapper">
                        <h4>Register for event.</h4>
                        <span>Registration process shall close on the 1st day of October, 2023.</span>
                        <form enctype="multipart/form-data" style="padding-inline:0;">
                          <div class="form-control">
                              <label for="name">1. Name of business </label>
                              <input type="text" id="business_name" name="businessName" required>
                          </div>
          
                          <div class="form-control">
                              <label for="name">2. Nature of Business/Business Sector </label>
                              <input type="text" id="business_nature" name="businessNature">
                          </div>
          
                          <div class="form-control">
                              <label for="name">3. Name of contact person </label>
                              <input type="text" id="contact_person" name="contactPerson" required>
                          </div>
          
                          <div class="form-control">
                              <label for="name">4. Website  </label>
                              <textarea id="website" name="website" cols="30" rows="3" required></textarea>
                          </div>
          
                          <div class="form-control">
                              <label for="name">5. Email </label>
                              <input style="margin-block: 3px;" type="text" id="email" name="email" required>
                          </div>                
          
                          <div class="form-control">
                              <label for="name">6. Phone Number </label>
                              <input type="text" id="phone_number" name="phoneNumber" required>
                          </div>
          
                          <div class="form-control">
                              <button type="submit">Pay $200</button>
                          </div>
                      </form>
                      </div>
                    </div>
                </div>
                <div class="accordion">
                    <div class="img">
                      <img src="./assets/svg/information-button.png" alt="" />
                    </div>
                    <div class="title flex">
                      <h3>Sponsor event</h3>
                      <span><i class="ti-angle-up"></i></span>
                    </div>
                    <div class="content hide">
                      <div class="wrapper">
                        <div class="sponsorship-packages">
                          <div class="package silver">
                            <img src="./assets/spo/01.png" alt="Silver Package">
                            <p>$2,000</p>
                          </div>
                          <div class="package gold">
                            <img src="./assets/spo/02.png" alt="Gold Package">
                            <p>$5,000</p>
                          </div>
                          <div class="package platinum">
                            <img src="./assets/spo/03.png" alt="Platinum Package">
                            <p>$10,000</p>
                          </div>
                          <div class="package diamond">
                            <img src="./assets/spo/04.png" alt="Diamond Package">
                            <p>$20,000</p>
                          </div>
                        </div>
                      </div>
                    </div>
                </div>
              </div>
        </div>
        <div class="form-footer">
            <h4 class="form-footer-title"></h4>
        </div>
    </div>
    <script src="./assets/js/main.js"></script>
    <script src="./assets/js/pay.js"></script>
    <script>
      const form = document.querySelector("form");
      form.addEventListener("submit", async (event) => {
          event.preventDefault();
          let formData = new FormData(form);
  
          // const apiEndpoint = "http://localhost:8000/api/create/data-foreign";
          const apiEndpoint = "https://www.ugandaforusbusinesses.org/api/create/data-foreign";
          
          const options = {
              method: "POST",
              body: formData
          };
  
          const response = await fetch(apiEndpoint, options);
            if(response){
              if(response.status === 201){
                  const data = await response.json();
                  const newFormData = new FormData();
  
                  form.querySelectorAll('input, textarea, select').forEach(el => {
                  if (el.type === 'checkbox') {
                      el.checked = false;
                  } else {
                      el.value = '';
                  }
                  newFormData.append(el.name, el.value);
                  });
  
                  formData = newFormData;
  
                  const modalDiv = document.createElement("div");
                  const modalTemplate = `
                  <div class="modal-overlay">
                      <div class="modal">
                          <h2>Form Submission</h2>
                          <img src="https://www.ugandaforusbusinesses.org/assets/img/check.png" alt="check mark">
                      </div>
                  </div>
                  `;
                  modalDiv.innerHTML = modalTemplate;
                  document.body.append(modalDiv);
  
                  setTimeout(() => {
                      modalDiv.innerHTML = "";
                      document.body.append(modalDiv);
                      window.location.href = "/";
                  }, 3000);
  
            }else{
                  
            }
          }
  
      });
    </script>
</body>
</html>