<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="shortcut icon" href="./assets/svg/favicon.ico" type="image/x-icon" />
        <link rel="stylesheet" href="./assets/css/utils.css" />
        <link rel="stylesheet" href="./assets/css/main.css" />
        <link rel="stylesheet" href="./assets/css/responsive.css" />
        <link rel="stylesheet" href="/assets/css/styles.css">
        <title>Business Match Maker — Form</title>
    </head>
<body>
    <div class="form">
        <div class="form-header-hidden"></div>
        <div class="form-header">
            <h2 class="form-title">Business Match Maker — Form</h2>
            <p>
                KM Advocates & Associates a Ugandan Investment Law firm working with the Uganda Investment Authority, the American Chamber of Commerce in Uganda, and the US National Black Chamber of Commerce in Atlanta Georgia will on the 17th and 18th day of October, 2023 hold a virtual business summit that will show case Uganda’s business or/and investment opportunities to more than 1,000 US Black Corporations. 
            </p>
            <p>
                Participating US Black business that will make decision to invest in any sector shall invest in the identified sector of interest through a local/Ugandan Corporation/firm. Participating US Black businesses shall thus be provided with a pool of local Companies /Businesses in the different sectors from which they shall choose a local Company to invest through or work with.
            </p>
            <p>
                Local Corporations or businesses interested in receiving investment from foreign Investor Companies are required to fill this form that is to be shared with the foreign Investor Companies.
            </p>
            <p>
                Only businesses or Companies that are in compliance with the Country’s regulatory regimes and in possession of books of accounts shall be legible to participate in this arrangement. However Companies that do not comply with regulatory regimes and nor have books of accounts at the time of registration but are willing to comply with regulatory regimes and to process books of accounts upon engagement with the foreign investor Company can also participate in the arrangement.
            </p>
        </div>
        <div class="form-body">
            <form enctype="multipart/form-data">
                <div class="form-control">
                    <label for="name">1. Provide the Name of your Company </label>
                    <input type="text" id="company_name" name="companyName" required>
                </div>

                <div class="form-control">
                    <label for="name">2. Website of your company if any </label>
                    <input type="text" id="company_website" name="companyWebsite">
                </div>

                <div class="form-control">
                    <label for="name">3. State the business Sector your Company is involved in </label>
                    <input type="text" id="business_sector" name="businessSector" required>
                </div>

                <div class="form-control">
                    <label for="name">4. Clearly state the specific products dealt in or offered by your Company  </label>
                    <textarea id="specific_product" name="specificProduct" cols="30" rows="3" required></textarea>
                </div>

                <div class="form-control">
                    <label for="name">5. Please provide name, phone number and email address of the contact person </label>
                    <input style="margin-block: 3px;" type="text" id="contact_person_name" name="contactPersonName" required>
                    <input style="margin-block: 3px;" type="number" id="contact_person_phone" name="contactPersonPhone" required>
                    <input style="margin-block-start: 3px;" type="email" id="contact_person_email" name="contactPersonEmail" required>
                </div>                

                <div class="form-control">
                    <label for="name">6. State the period of time your Company has been in operation </label>
                    <input type="text" id="period_of_operation" name="periodOfOperation" required>
                </div>
                
                <div class="form-control">
                    <label for="checkbox">7. If you agree sharing information or responses you have provided above to investors interested in investing in Uganda through your Company, tick the box below.</label>
                    <input type="checkbox" id="data_share_consent" name="dataShareConsent">
                </div>

                <div class="form-control">
                    <button type="submit" id="goToFlutter">Submit</button>
                </div>
            </form>
        </div>
        <div class="form-footer">
            <h4 class="form-footer-title">The data collected through this form will only be used for participation in the Business Matching event.</h4>
        </div>
    </div>
  <script>
    const form = document.querySelector("form");
    form.addEventListener("submit", async (event) => {
        event.preventDefault();
        let formData = new FormData(form);

        const apiEndpoint = "http://localhost:8000/api/create/data-local";
        const options = {
            method: "POST",
            body: formData
        };

        const response = await fetch(apiEndpoint, options);
        if(response){
            if(response.status === 201){
                const modalDiv = document.createElement("div");
                const modalTemplate = `
                <div class="modal-overlay">
                    <div class="modal">
                        <div class="title flex">
                            <h2>Congratulations!</h2>
                            <img src="./assets/img/check.png" alt="check mark">
                        </div>
                        <h4>
                            Your Company shall pay 2 - 5 % of the total value of investment received
                            from the foreign investor upon the successful conclusion of the business/
                            investment relationship between your Company and the foreign Investor Company.
                        </h4>
                        <h4>
                            This fee shall be born by the foreign investor Company hence your Company shall
                            shall clearly bring the fee to the attention of the foreign investor Company
                            when negotiating investment relationship/pact between your Company and the foreign
                            investor Company.
                        </h4>
                        <h4>
                            Your Company is expected to clearly itemise this fee among other items constituting
                            the investment value.
                        </h4>
                    </div>
                </div>
                `;
                modalDiv.innerHTML = modalTemplate;

                // Payment
                try {
                    const contactPersonName = form.querySelector("#contact_person_name").value;
                    const contactPersonPhone = form.querySelector("#contact_person_phone").value;
                    const contactPersonEmail = form.querySelector("#contact_person_email").value;

                    const newFormData = new FormData();
                    form.querySelectorAll('input, textarea, select').forEach(el => {
                        if (el.type === 'checkbox') {
                            el.checked = false;
                        } else {
                            el.value = '';
                        }
                        newFormData.append(el.name, el.value);
                    });
                    formData = newFormData;

                    // Display confirmation modal
                    document.body.append(modalDiv);

                    const modalOverlay = document.querySelector(".modal-overlay");
                    modalOverlay.addEventListener("click", event => {
                        modalOverlay.style.display = "none";
                    });
                } catch (err) {
                    // TODO: Show error 
                    console.error(err);
                }
            }else{
                console.log("Some error has occurred!");
            }
        }

    });
  </script>
</body>
</html>