@media screen and (min-width: 768px) {
  /*For Laptops */

  html {
    font-size: 18px;
  }

  .accordion > .content {
    padding: 0;
    margin: 0;
  }

  .accordion .title {
    padding: 0.4em 4vw;
    height: 110px !important;
  }

  .accordion > .title > h3 {
    margin-inline-start: 0;
  }

  .accordion > .content > ol > li > a  > h4{
    font-size: 1rem;
    font-weight: 300;
    padding: 0;
  }


  .accordion {
    position: relative;
    margin-block-end: 0.08em;
    padding: 0.2em;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 13px;
    margin-block-start: 1.8em;
    inline-size: 100%;
  }

}
