@media screen and (min-width: 768px) {
  /*For Laptops */

  html {
    font-size: 18px;
  }

  .countdown {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: var(--brand-font-default);
    font-size: 24px;
    background-color: #ecd016;
    color: #070707;
    font-weight: bold;
    padding: 10px;
    border-radius: 13px;
    box-shadow: 0 0 10px #ecd016;
    animation: glow 1s ease-in-out infinite alternate;
  }
  
  @keyframes glow {
    from {
      box-shadow: 0 0 10px #ecd016;
    }
    to {
      box-shadow: 0 0 20px #ecd016;
    }
  }

  .accordion {
    position: relative;
    margin-block-end: 0.08em;
    padding: 0.2em;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
    border-radius: 13px;
    margin-block-start: 1.8em;
    inline-size: 80%;
  }


  .accordion .title {
    padding: 0.4em 4vw;
    height: 110px !important;
    /* Special */
    padding-inline: 48px !important;
  }

  .accordion > .title > h3 {
    margin-inline-start: 0;
  }

  .accordion > .content > .wrapper {
    padding: 5.6px 34.1333px;
    margin: 0;
    /* Special */
    padding-inline: 34px;
  }

  .accordion > .content > .wrapper > ul{
    margin: 0;
    padding-inline: 14.1333px;
  }

  .accordion > .content > .wrapper > .org {
    inline-size: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
  }
  
  .accordion > .content > .wrapper > .org > img {
    inline-size: 90px;
    block-size: 90px;
  }


}
