.form {
    background-color: transparent;
    margin: 0 auto;
    width: 100%;
}

.form-header-hidden {
    background-image: url("../img/bg-top.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 160px;
    width: 100%;
}

.form-header {
    background-color: #954911;
    color: #ffffff;
    height: fit-content;
    padding: 12px 14px;
}

.form-header p {
    text-align: justify;
}

.form-body {
    background-color: #ffffff;
    opacity: 0.8;
}

.form-footer {
    background-color: #d2d2d2;
    height: fit-content;
    padding: 12px 14px;
}

.form-footer h4 {
    margin-top: 0;
    font-weight: 100;
    font-size: 10px;
}

@media screen and (min-width: 768px) {
    .form {
        background-color: transparent;
        width: 50%;
        margin: 60px auto;
    }

    .form-header-hidden {
        display: none;
    }

    .form-header {
        padding: 20px 60px;
    }

    .form-footer {
        padding-inline: 60px;
    }
    
    form {
        padding: 20px 60px;
    }
    
    button {
        width: fit-content;
    }
}
