@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
:root {
  /* Site Color */
  --brand-color-primary: #954911;
  --brand-color-secondary: #5d5e5e;

  /* Site Font Family */
  --brand-font-default: "Tilt Neon";
  --brand-font-primary: "Tilt Neon";
  --brand-font-secondary: "Tilt Neon";
  --brand-font-heading: "Tilt Neon";

  /* Site Font Color */
  --brand-text-dark: #292d34;
  --brand-text-grey: #5d5e5e;

  /* Site Background Color */
  --brand-white-bg-color: #ffffff;
  --brand-smoke-bg-color: #f1f1f1;
  --brand-cloud-bg-color: #f3f3f3;
  --brand-cloud-bg-color-grey: #cecccc;
}

html,
body {
  height: 100%;
}

html {
  font-size: 14px;
}

body {
  color: var(--brand-text-grey);
  overflow-inline: hidden;
}

img {
  inline-size: 100%;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.2;
  margin: 0.6em 0;
} 

.hide {
  display: none;
}

.show {
  display: block;
}

.container {
  max-inline-size: 68.75em;
  margin: 0 auto;
  overflow: auto;
  padding: 0 4vw;
}

.container-fluid {
  max-inline-size: 100%;
  overflow: auto;
}

.flex {
  block-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}